<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rcssvenues">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RcssVenues"
        tools:targetApi="31">

        <!-- Entry Point -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication Flow -->
        <activity
            android:name=".LogIn"
            android:exported="false" />

        <!-- User Role Activities -->
        <activity
            android:name=".Users"
            android:exported="false" />
        <activity
            android:name=".UserHome"
            android:exported="false" />
        <activity
            android:name=".UserBookings"
            android:exported="false" />
        <activity
            android:name=".UserBookVenue"
            android:exported="false" />

        <!-- Receptionist Role Activities -->
        <activity
            android:name=".Receptionist"
            android:exported="false" />
        <activity
            android:name=".ReceptionistBookingManagement"
            android:exported="false" />
        <activity
            android:name=".ReceptionApprovalReject"
            android:exported="false" />
        <activity
            android:name=".ReceptionistVenueManagement"
            android:exported="false" />

        <!-- Admin Role Activities -->
        <activity
            android:name=".Admin"
            android:exported="true" />
        <activity
            android:name=".AdminAddVenueActivity"
            android:exported="true" />
        <activity
            android:name=".AdminEditVenueActivity"
            android:exported="true" />
        <activity
            android:name=".AdminDeleteVenueActivity"
            android:exported="true" />
        <activity
            android:name=".AdminManageUsersActivity"
            android:exported="true" />
        <activity
            android:name=".AdminViewVenuesActivity"
            android:exported="true" />

    </application>
</manifest>